<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.devking2106.useddeal.repository.mapper.BoardMapper">

    <insert id="save" parameterType="me.devking2106.useddeal.entity.Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO BOARD (USER_ID,LOCATION_NAME, LOCATION_ID,TITLE, CONTENT, PRICE, CATEGORY_ID, STATUS, REG_DATE, MOD_DATE, BOARD_DATE, PRICE_SUGGEST_YN, PULL_YN, VIEW_COUNT, LATITUDE, LONGITUDE)
        VALUES (#{userId},#{locationName}, #{locationId},#{title},#{content},#{price},#{categoryId},#{status},#{regDate},#{modDate}, #{boardDate}, #{priceSuggestYN}, #{pullYN}, #{viewCount}, #{latitude},#{longitude})
    </insert>

</mapper>
