<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.devking2106.useddeal.repository.mapper.UserMapper">

    <resultMap id="User" type="me.devking2106.useddeal.entity.User">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="locationName" column="LOCATION_NAME"/>
        <result property="locationId" column="LOCATION_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="modDate" column="MOD_DATE"/>
        <result property="loginDate" column="LOGIN_DATE"/>
        <result property="role" column="ROLE"/>
        <result property="status" column="STATUS"/>
        <association property="longitudeAndLatitude" javaType="me.devking2106.useddeal.dto.LongitudeAndLatitude">
            <result property="latitude" column="LATITUDE"/>
            <result property="longitude" column="LONGITUDE"/>
        </association>
    </resultMap>

    <insert id="save" parameterType="me.devking2106.useddeal.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER
        SET USER_ID = #{userId},
            LOCATION_NAME = #{locationName},
            LOCATION_ID = #{locationId},
            PASSWORD = #{password},
            NICKNAME = #{nickname},
            PHONE = #{phone},
            EMAIL = #{email},
            REG_DATE = #{regDate},
            MOD_DATE = #{modDate},
            LOGIN_DATE = #{loginDate},
            ROLE = #{role},
            STATUS = #{status},
            LATITUDE = #{longitudeAndLatitude.latitude},
            LONGITUDE = #{longitudeAndLatitude.longitude}
    </insert>
    <update id="updateLocation" keyProperty="id">
        UPDATE USER
        SET LOCATION_NAME = #{location.locationName},
            LOCATION_ID = #{location.id},
            LATITUDE = #{location.latitude},
            LONGITUDE = #{location.longitude}
        WHERE ID = #{userId}
    </update>

    <select id="findById" resultMap="User">
        SELECT *
        FROM USER
        WHERE id = #{id}
          AND status != 'DELETED'
    </select>

    <select id="idCheck" resultType="boolean">
        SELECT COUNT(USER_ID)
        FROM USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="findByNickName" resultType="me.devking2106.useddeal.dto.UserFindDto">
        SELECT ID,
               NICKNAME,
               LOCATION_NAME
        FROM USER
        WHERE NICKNAME LIKE '%${nickname}%'
          AND status != 'DELETED'
    </select>

    <select id="findByIdAndPassword" resultMap="User">
        SELECT *
        FROM USER
        WHERE USER_ID = #{id}
        AND PASSWORD = #{password}
        AND STATUS != 'DELETED'
    </select>

</mapper>
